<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.atjack.dao.slave.CityDao">

    <resultMap id="resultMap" type="com.atjack.bean.City">
        <id column="id" property="id"></id>
        <result column="province_id" property="provinceId"></result>
        <result column="city_name" property="cityName"></result>
        <result column="description" property="description"></result>
    </resultMap>

    <select id="findByName" resultMap="resultMap">
        select * from city where city_name = #{cityName}
    </select>

    <select id="findAll" resultMap="resultMap">
        select * from city
    </select>

</mapper>